Add your CSS styles here

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keep the background fixed while scrolling */
        
}

.container {
    width: 800px; /* Adjust the width as needed */
    height:700px;
    background-color: #76effa;
    border-radius: 10px;
    box-shadow: 5px -10px 20px rgba(114, 246, 255, 0.859);
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 45%;
}

.chat-window {
    width: 800px;
    height:700px;
    background-color: #76effa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-left: 0%;
}

.chat-header {
    background-color: #000000;
    color: #76effa;
    padding: 1px;
    text-align: center;
    font-style: italic;
    
}

.chat-body {
    padding: 10px;
    max-height: 490px;
    overflow-y: auto;
    
}

.chat-input {
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 5px;

    border-top: 3px solid #000000;

}
@media (max-width: 768px) {
    .container {
      width: 100%; /* Adjust to fill the entire width */
      margin-left: 0; /* Remove margin-left */
    }
  
    .chat-window {
      width: 100%; /* Adjust to fill the entire width */
    }
  
    /* Add additional styles or adjustments for smaller screens as needed */
  }
  
  /* Media query for even smaller screens (e.g., smartphones) */
  @media (max-width: 480px) {
    /* Add specific styles for smartphones if necessary */
    /* For example, make the chat input full width */
    input[type="text"] {
      width: 100%;
    }
  }

input[type="text"] {
    width: 650px;
    padding: 15px;
    border:none;
    border-radius: 18px;
    margin-right: 5%;
    font-size: medium;
    font-weight: 300;
}

button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ffce0b;
    color: #000;
    font-weight: bold;
   
}
.message.user {
    text-align: right; 
    background-color: #87ebf4; 
    color: #000000;
    margin-left: 50%;
    font-weight: bold; 
}


.message.bot {
    text-align: left; 
    background-color: #87ebf4; 
    margin-right: 30%;
    font-weight: bold;
}
